body {
    margin: 0;
}

.editor-container {
    width: 100%;
    min-height: 100vh;
    background: #D3D3D3;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
}

.canvas {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.edit-line-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    z-index: 2;
    border-radius: 3px;
    border: 1px solid;
    visibility: hidden;
    min-width: 200px;
}

.editor-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editor-block:not(:last-child) {
    margin-bottom: 15px;
}

.editor-block-label {
    flex-grow: 2;
    white-space: nowrap;
}

.editor-block-input {
    width: 75px;
}